MONGO_INITDB_ROOT_USERNAME=docker
MONGO_INITDB_ROOT_PASSWORD=student
MONGO_INITDB_DATABASE=learning

# Why authSource? https://github.com/docker-library/mongo/issues/403#issuecomment-623674412
# Or in local case: mongodb://docker:student@localhost:27017/learning?authSource=admin
MONGODB_URI=mongodb+srv://docker:student@test.domain.mongodb.net/learning