BOOK_API_PORT=3000
ZITADEL_MASTERKEY=MasterkeyNeedsToHave32Characters

# Shared env variables between different services
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
TRAEFIK_EXPOSED_PORT=8080
ZITADEL_DATABASE=zitadel
