services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: production

  mongodb:
    image: mongo:8.0
    ports:
      - "27017:27017"
  
  mongo-express:
    image: mongo-express:1.0.2-20-alpine3.19
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongodb
      - ME_CONFIG_MONGODB_URL=mongodb://mongodb/temp
      - PORT=8082
    ports:
      - "8082:8082"
    restart: unless-stopped
    depends_on:
      - mongodb
