SERVICE_NAME=graphql-api
# DEVELOPMENT/PRODUCTION/TESTING
APP_ENV=DEVELOPMENT

# Debug mode
DEBUG=false

# Server Configuration
HOST=0.0.0.0
PORT=8000

# DEBUG/INFO/WARNING/ERROR/CRITICAL
LOG_LEVEL=INFO
LOG_JSON=true

# OpenTelemetry Configuration
OTEL_ENABLED=true
JAEGER_ENDPOINT=http://jaeger:4318/v1/traces
