apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        app: node-app
    spec:
      containers:
        - name: node-app
          # We'll load this image into K3s from a local tar file.
          image: node-app:local
          imagePullPolicy: IfNotPresent
          command: ["/bin/sh", "-c"]
          args: ["node src/index.js && sleep infinity"] # Keep the container alive after the app exits for inspection
